@model ConsortiumsModel
@{
    ViewData["Title"] = "Consórcios";
}
<div class="text-center">
    <h3>Listagem de Consórcios</h3>
    <a type="button" class="btn btn-success float-end" asp-controller="Consortiums" asp-action="Add">Novo Consórcio</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>CEP</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.GetConsortiums())
            {
                <tr>
                    <td>@user.Id.ToString("D5")</td>
                    <td>@user.Name</td>
                    <td>@user.Number</td>
                    <td>@user.Email</td>
                    <td>@user.CEP</td>
                    <td>@user.CPF</td>
                    <td>@user.BornBirth</td>
                    <td>@user.Category</td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@user.Id" asp-controller="Consortium" asp-action="Update">Editar Consórcio</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-danger" asp-route-id="@user.Id" asp-controller="Consortium" asp-action="Delete">Deletar Consórcio</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
